Ejercicios/XSD/tarea1esquema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="alumnos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"></xs:element>
                <xs:element name="edad" type="xs:int"></xs:element>
                <xs:element name="nota" type="xs:decimal"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
